@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Lilita+One&display=swap');


* {
    box-sizing: border-box;
    transition: 0.4s;
}

body {
    font-family: "Lexend", sans-serif;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

h1 {
    font-size: 3.5em;
}

h2 {
    font-size: 2.7em;
}

h3 {
    font-size: 2em;
}

p {
    font-size: 1.25em;
}

ul {
    list-style: none;
}

li {
    font-size: 1.25em;
}

a {
    text-decoration: none;
    color: turquoise;
}

button {
    font-size: 1.50em;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    cursor: pointer;
    background: linear-gradient(90deg, rgb(108, 14, 151), turquoise);
    box-shadow: 1.5px 1.5px 10px rgba(0, 0, 0, 0.5);
    color: rgb(0, 0, 0);
}

button:hover {
    transform: scale(1.1);
}

.container {
    max-width: 1400px;
    margin: 0;
}

header {
    margin: 0;
    display: flex;
    height: 200px;
    background-color: rgb(0, 0, 0);
    justify-content: space-between;
    align-items: center;

}

.logo {
    display: flex;
}

.logo img {
    height: 170px;
}

.logo a:hover {
    background-size: 190px;
    transform: scale(1.1);
    transition: 0.4s;
}

nav a {
    font-weight: 600;
    padding-right: 30px;
}

nav a:hover {
    color: violet;
}

#hero {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    color: rgb(224, 228, 255);
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url('images/studio-portrait-beautiful-young-man-posing.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#porque-elegirnos {
    background-color: rgb(235, 235, 235);
}

#porque-elegirnos .container {
    text-align: center;
    padding: 200px 12px;
    background: linear-gradient(90deg, rgb(19, 97, 25), rgb(125, 0, 129));
    color: transparent;
    background-clip: text;
}

#tratamiento-capilar {
    background-color: rgb(30, 30, 30);
    color: aliceblue;
    text-align: center;
}

#tratamiento-capilar .container {
    padding: 110px 0px;
}

#tratamiento-capilar h2 {
    margin-top: 0px;
    font-size: 4em;
}

#tratamiento-capilar p {
    display: none;
}

#tratamiento-capilar .carta {
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0px;
    margin: 15px;
    border-radius: 25px;
}

.carta:first-child {
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url('images/hair-loss-before-and-after.jpg');
}

.carta:nth-child(2) {
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url('images/man-concerned-by-hair-loss.jpg');
}

.carta:nth-child(3) {
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url('images/doctor-writing-hair-loss.jpg');
    
}

#caracteristicas ,.container{
    text-align: center;
    padding: 200px 12px;
}

#caracteristicas li{    
    margin: 20px 0px;
    font-weight: bold;

}

#contact {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 80vh;
    background-color: rgb(30, 30, 30);
    color: aliceblue;
}

#contact h2{
    font-size: 5vw;
}

#contact button{
    font-size: 4vw;
}

footer{
    background: linear-gradient(90deg, rgb(108, 14, 151), turquoise);
    color: rgb(0, 0, 0);
    font-weight: bold;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;   
}

footer img{
    border-radius: 25%;
    border: 3px solid rgb(43, 198, 226);
    box-shadow: 0 0 15px rgb(115, 22, 190);
}
